@import "/assets/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Dirt&display=swap');/* Fontes:: Rubik Dirt, */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;

    
    --color-primary: #543107;
    --primary-transparent: rgba(101, 61, 15, .7);
}

body{
    /* position: ; */
    background: url("/assets/images/campo-de-trigo.png");
    background-clip: border-box;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.03); 
}

.grow2 { 
    transition: all .2s ease-in-out; 
}
    
.grow2:hover { 
    transform: scale(1.1); 
}

