.banner{
    /* position: absolute; */
    margin-top: 40px;
    width: 100%;
    height: 100px;
    background-color: #543107;
    opacity: .6;
}

.logo{
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.03); 
}

.grow2 { 
    transition: all .2s ease-in-out; 
}
    
.grow2:hover { 
    transform: scale(1.1); 
}